QSlider::groove:horizontal {
    border: 1px solid #bbb;
    background: blue;
    height: 10px;
    border-radius: 4px;
}

QSlider::sub-page:horizontal {
    background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
        stop: 0 #66e, stop: 1 #df0000);
    background: qlineargradient(x1: 0, y1: 0.2, x2: 1, y2: 1,
        stop: 0 #df0000, stop: 1 #4e0303);
    height: 10px;
    border-radius: 4px;
}

QSlider::add-page:horizontal {
    background: #353739;
    height: 10px;
    border-radius: 4px;
}

QSlider::handle:horizontal {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop:0 #eee, stop:1 #ccc);
    width: 13px;
    margin-top: -2px;
    margin-bottom: -2px;
    border-radius: 4px;
}

QSlider::handle:horizontal:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop:0 #fff, stop:1 #ddd);
    border: 1px solid #444;
    border-radius: 4px;
}



QSlider::groove:vertical {
    border: 1px solid #bbb;
    background: qlineargradient(x1: 0, y1: 0,    x2: 0, y2: 1,
        stop: 0 #4e0303, stop: 1 #df0000);
    border-radius: 2px;
}

QSlider::handle:vertical {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop:0 #ccc, stop:1  #eee);
    height: 10px;
    margin-left: -15px;
    margin-right: -15px;
    border-radius: 15px;
}

QSlider::handle:vertical:hover {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
        stop:0 #ddd, stop:1 #fff);
    border: 1px solid #444;
    border-radius: 4px;
}

QSlider::sub-page:vertical {
    background: #353739;
    height: 2px;
    border-radius: 4px;
}

QSlider::sub-page:vertical {
    background: #353739;
    height: 2px;
    border-radius: 4px;
}

